<div class="display-container">
    <div class="title">
        <h1 *ngIf="this.currentSearchQuery">Results for {{this.currentSearchQuery}}</h1>
        <h1 *ngIf="!this.currentSearchQuery">Catalog</h1>
    </div>
    <div class="grid-detail-container">
        <div class="grid">
            <mat-grid-list [cols]="cols" rowHeight="1:1.75" gutterSize="25">
                <mat-grid-tile *ngFor="let item of data; let i = index">
                    <mat-card class="item-card">
                        <img mat-card-image [src]="item.imgFileExt" [ngClass]="imageClasses[item.imgFileExt]" (error)="handleImageError($event, defaultImg)" (click)="openDialog(item, i)" alt="Album cover">
                        <mat-card-header>
                            <div mat-card-avatar class="type-icon" [style.background-image]="getIconUrl(item.format)"></div>
                            <mat-card-title>
                                <a (click)="searchForArtist(item.artistName)">{{this.getFormattedArtistName(item.artistName)}}</a>
                            </mat-card-title>
                            <mat-card-subtitle>{{item.title}}</mat-card-subtitle>
                            <mat-card-subtitle style="font-style: italic; color: darkslategrey">
                                <span style="font-style:italic; font-size:0.75em">
                                    {{item.recordLabelName}}
                                </span>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <button mat-raised class="detail-btn" (click)="openDialog(item, i)">INFO</button>
                            <mat-card-actions>
                              <span>{{item.price}}$</span>
                              <button mat-raised *ngIf="item.quantity >= 1" class="cart-btn" (click)="addToCart(item)"><i class="fa-solid fa-cart-shopping"></i></button>
                              <button mat-raised *ngIf="item.quantity < 1" class="x-btn"><i class="fa-solid fa-x"></i></button>
                            </mat-card-actions>
                        </mat-card-content>
                      </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div class="pagination-container">
        <hr>
        <div class="pagination">
            <button class="previous-btn" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
                <i class="fa-solid fa-caret-left"></i>
            </button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button class="next-btn" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
                <i class="fa-solid fa-caret-right"></i>
            </button>
        </div>
    </div>
</div>