// DISPLAY /////////////////////////////////////////////////////////////////////////////
.display-container {
    height: 100%;
    width: 100%;
    
    .title {
        padding: 3vh;
        width: 100%;
    }
}

.cart-btn {
    background-color: rgb(66, 204, 66);
}

.cart-btn:hover {
    background-color: rgb(66, 204, 66, 0.75);
}

.cart-btn:active {
    background-color: rgb(7, 151, 7);
}

.info-btn:hover, .cart-btn:hover {
    cursor: pointer;
}

.info-btn {
    background-color: rgb(49, 157, 224);
}

.info-btn:hover {
    background-color: rgb(49, 157, 224, 0.75);
}

.info-btn:active {
    background-color: rgba(14, 119, 184, 1.0);
}

.x-btn {
    background-color: rgb(172, 18, 18);
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 5vh;
    width: 75%;
}


.flex-header {
    background-color: rgb(212, 238, 255);
    border-radius: 10px;
    height: auto;
    overflow-wrap: break-word;
    padding: 1vw;
    width: auto;
}

.flex-item {
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: calc((100% / 3) - 55px);
}

.format-icon {
    background-size: cover;
    height: 2.5vw;
    width: 2.5vw;
}

.image-container {
    margin-bottom: 2vh;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease;
    width: 100%;
}
  
img:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}
  
.pagination-container {
    margin: auto;
    width: 75%;
}

.recordLabelName a {
    cursor: pointer;
}

.recordLabelName:hover {
    color: rgb(82, 99, 252) !important;
}

.recordLabelName a:active {
    color: rgb(17, 17, 141) !important;
}

.spinner-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
    padding: 1.5vw;
    width: 75%;
}

.tall-format {
    object-fit: contain;
}


.wide-format {
    object-fit: contain;
    object-position: top;
    padding-bottom: 10%;
}

mat-card-actions {
    align-items: center;

    button {
        margin-left: 0.75vw;
    }
}

mat-card-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vw;

    button {
        border: none;
        border-radius: 7.5px;
        color: white;
        font-size: 1.25vw;
        justify-content: center;
        padding: 1vw;
    }

    span {
        font-family: Centaur;
        font-size: 2vw;
        font-weight: bold;
    }
}

mat-card-title {
    font-family: Centaur;
    font-size: 1.75vw;
    font-weight: bold;
    word-wrap: break-word;

    a {
        cursor: pointer;
    }
}

mat-card-title a:hover {
    color: rgb(82, 99, 252) !important;
}

mat-card-title a:active {
    color: rgb(17, 17, 141) !important;
}

mat-card-subtitle {
    font-size: 1vw;
    font-style: italic;
    padding-top: 5px !important;

    a {
        cursor: pointer;
        font-size: 1.25vw;
    }
}

@media (max-width: 950px) {
    .flex-header {
        padding: 1.5vw;
    }

    .flex-item {
        width: calc((100% / 2) - 50px);
    }
    
    .format-icon {
        height: 4vw;
        width: 4vw;
    }

    .pagination-container {
        justify-content: space-around;
    }

    mat-card-actions button {
        margin-left: 1.5vw;
    }

    mat-card-content button {
        font-size: 2vw;
        padding: 1.75vw;
    }

    mat-card-content span {
        font-size: 3.5vw;
    }

    mat-card-title {
        font-size: 3vw;
    }

    mat-card-subtitle {
        font-size: 1.5vw;
        font-style: italic;
        padding-top: 5px !important;
    
        a {
            cursor: pointer;
            font-size: 1.75vw;
        }
    }
}

@media (max-width: 599px) {
    .flex-header {
        padding: 2.5vw;
    }

    .flex-item {
        width: calc(100%);
    }

    .format-icon {
        height: 7.5vw;
        width: 7.5vw;
    }

    mat-card-actions button {
        margin-left: 2.25vw;
    }

    mat-card-actions span {
        font-size: 6vw;
    }

    mat-card-content button {
        font-size: 3.25vw;
        padding: 2.75vw;
    }

    mat-card-title {
        font-size: 5vw;
    }

    mat-card-subtitle {
        font-size: 3vw;
    }

    mat-card-subtitle {
        font-size: 2.75vw;
        font-style: italic;
        padding-top: 5px !important;
    
        a {
            cursor: pointer;
            font-size: 3vw;
        }
    }
}