<div class="display-container">
    <div class="title">
        <h1 *ngIf="this.currentSearchQuery">Results for {{this.currentSearchQuery}}</h1>
        <h1 *ngIf="!this.currentSearchQuery">Catalog</h1>
    </div>
    <div class="spinner-container" *ngIf="isLoading" >
        <mat-spinner class="spinner" diameter="40"></mat-spinner>  
    </div>
    <div *ngIf="!isLoading">
        <div class="pagination-container">
            <app-pagination></app-pagination>   
        </div>
        <div class="flex-container">
            <mat-card class="flex-item mat-elevation-z0" *ngFor="let item of data; let i = index">
                <div class="image-container">
                    <img [ngSrc]="item.imgFileExt" [ngClass]="imageClasses[item.imgFileExt]" priority width="450" height="450" (click)="openDialog(item, i)" (error)="handleImageError($event, defaultImg)" alt="Album cover">
                </div>
                <mat-card-header class="flex-header">
                    <div mat-card-avatar class="format-icon" [style.background-image]="getIconUrl(item.format)"></div>
                    <mat-card-title>
                        <a (click)="searchForArtist(item.artistName)">{{this.getFormattedArtistName(item.artistName)}}</a>
                    </mat-card-title>
                    <mat-card-subtitle>{{item.title}}</mat-card-subtitle>
                    <mat-card-subtitle style="color: darkslategrey">
                        <span class="recordLabelName" style="font-size: 1em">
                            <a (click)="searchForRecordLabel(item.recordLabelName)">{{item.recordLabelName}}</a>  
                        </span>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <button mat-raised class="info-btn" (click)="openDialog(item, i)">INFO</button>
                    <mat-card-actions>
                      <span>{{item.price}}$</span>
                      <button mat-raised *ngIf="item.quantity >= 1" class="cart-btn" (click)="addToCart(item)"><i class="fa-solid fa-cart-shopping"></i></button>
                      <button mat-raised *ngIf="item.quantity < 1" class="x-btn"><i class="fa-solid fa-x"></i></button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="pagination-container">
            <app-pagination></app-pagination>   
        </div>
    </div>
</div>