.title {
    padding: 2.5%;
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    img {
        margin: auto;
        padding: 0px 25px 20px 0px ;
        width: 90%;
    }
}