<mat-drawer-container class="sidebar-container">
  <mat-drawer #drawer class="sidebar" mode="side" (openedChange)="isOpened = drawer.opened">
    <button mat-button [matMenuTriggerFor]="menu">Sorting by {{mainCriteria}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setMainSortCriteria('Artist')">Artist</button>
      <button mat-menu-item (click)="setMainSortCriteria('Album')">Album</button>
      <button mat-menu-item (click)="setMainSortCriteria('Reset')">Reset</button>
    </mat-menu>
    <div class="icon-container">
      <div class="format-section">
        <img [src]="activeFormat === 666 ? '../../../assets/images/icons/all2.png' : '../../../assets/images/icons/all.png'" (click)="setFormatSortCriteria(666)">
        <img [src]="activeFormat === 0 ? '../../../assets/images/icons/LP2.png' : '../../../assets/images/icons/LP.png'" (click)="setFormatSortCriteria(0)">
        <img [src]="activeFormat === 1 ? '../../../assets/images/icons/CD2.png' : '../../../assets/images/icons/CD.png'" (click)="setFormatSortCriteria(1)">
        <img [src]="activeFormat === 2 ? '../../../assets/images/icons/K72.png' : '../../../assets/images/icons/K7.png'" (click)="setFormatSortCriteria(2)">
      </div>
      <div class="alpha-section">
        <img [src]="alphaAscendingActive ? '../../../assets/images/icons/ABC2.png' : '../../../assets/images/icons/ABC.png'" (click)="setAlphaSortCriteria('ascending')">
        <img [src]="alphaDescendingActive ? '../../../assets/images/icons/ZYX2.png' : '../../../assets/images/icons/ZYX.png'" (click)="setAlphaSortCriteria('descending')">
      </div>
      <div class="price-section">
        <img [src]="priceAscendingActive ? '../../../assets/images/icons/lohi2.png' : '../../../assets/images/icons/lohi.png'" (click)="setPriceSortCriteria('ascending')">
        <img [src]="priceDescendingActive ? '../../../assets/images/icons/hilo2.png' : '../../../assets/images/icons/hilo.png'" (click)="setPriceSortCriteria('descending')">
      </div>
    </div>
  </mat-drawer>
  <div *ngIf="displayComponentActive" class="sidebar-content">
    <button type="button" class="toggle-btn" (click)="drawer.toggle(); isOpened = !isOpened">
      <i class="fa-regular" [class.fa-square-caret-right]="!isOpened" [class.fa-square-caret-left]="isOpened"></i>
    </button>
  </div>
</mat-drawer-container>
