// MAIN /////////////////////////////////////////////////////////////////////////////
.main-container {
    padding: 3vh 3vh 3vh 5vh;
}

// FORM /////////////////////////////////////////////////////////////////////////////
.custom-file-upload {
    align-items: center;
    background-color:  rgba(66, 73, 82, 0.788);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: x-large;
    height: 7.25vh;
    justify-content: center;
    margin-left: 15px;
    min-width: 16%;
    padding: 10px;
}

.details-field, .matrix-field {
    min-height: 100px;
}

.first-half-form,
.second-half-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.first-half-form {
    margin-right: 1%;
    width: 50%;
}

.format-selection-container, 
.sub-format-length-container, 
.type-package-container,
.genre-container, 
.grade-container, 
.details-container {
    width: 100%;
}

.image-file-container mat-form-field {
    width: 80%;
}

.new-item-form-container {
    display: flex;
    margin: auto;
    padding: 2vh 0;
    width: 85%;
}

.price-quantity-container, 
.country-year-container, 
.catalog-matrix-container,
.image-file-container, 
.format-selection-container, 
.sub-format-length-container,
.type-package-container, 
.genre-container, 
.grade-container {
    display: flex;
    justify-content: space-between;
}

.price-quantity-container mat-form-field,
.country-year-container mat-form-field,
.catalog-matrix-container mat-form-field,
.format-selection-container mat-form-field,
.sub-format-length-container mat-form-field,
.type-package-container mat-form-field,
.genre-container mat-form-field,
.grade-container mat-form-field {
    width: 48%;
}

.second-half-form {
    margin-left: 1%;
    width: 50%;
}

// BUTTONS /////////////////////////////////////////////////////////////////////////////
.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-container > button {
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 2.5vh;
    height: 7.25vh;
    padding: 1.5vh;
}

.clear-btn {
    background-color:  rgb(238, 61, 49);
    margin-left: 2vh;
}

.clear-btn:hover {
    background-color:  rgb(243, 107, 98);
}

.clear-btn:active {
    background-color:  rgb(165, 12, 1);
}

.submit-btn {
    background-color:  rgb(40, 140, 200);
}

.submit-btn:hover {
    background-color:  rgb(91, 179, 235);
}

.submit-btn:active {
    background-color:  rgb(0, 96, 156);
}

@media (max-width: 949px)  {
    .new-item-form-container {
        display: flex;
        flex-direction: column;
    }
    
    .first-half-form  {
        margin-right: 0%;
        width: 97.5%;
    }

    .second-half-form {
        margin-left: 0%;
        width: 97.5%;
    }
}

@media (max-width: 599px) {
    .price-quantity-container, 
    .country-year-container, 
    .catalog-matrix-container,
    .format-selection-container, 
    .sub-format-package-container, 
    .type-length-container,
    .genre-container, 
    .grade-container {
        display: flex;
        flex-direction: column;
    }

    .price-quantity-container mat-form-field,
    .country-year-container mat-form-field,
    .catalog-matrix-container mat-form-field,
    .format-selection-container mat-form-field,
    .sub-format-package-container mat-form-field,
    .type-length-container mat-form-field,
    .genre-container mat-form-field,
    .grade-container mat-form-field {
        width: 100%;
    }

    .main-format-field {
        width: 100% !important;
    }
}