// MAIN /////////////////////////////////////////////////////////////////////////////
.form-container {
    background-color: black;
    border-radius: 25px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 4vh;
}

.main-container {
    margin: auto;
    width: 60%;
}

.title h1 {
    align-items: left;
    color: rgb(161, 153, 153);
    margin: 2vh 0 1.5vh 0;
}

// FIELDS /////////////////////////////////////////////////////////////////////////////
.fields-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vh;
}

.fields-container p {
    color: white;
    font-size: 2vh;
}

.first-name-field, 
.last-name-field, 
.email-reg-field, 
.phone-field,
.pwd-reg-field, 
.confirm-pwd-field,
.city-field, 
.region-field, 
.country-field, 
.postal-field {
    flex: 1;
}

.first-name-field, 
.email-reg-field, 
.pwd-reg-field, 
.city-field, 
.country-field  {
    margin-right: 1vh;
}

.last-name-field, 
.phone-field, 
.confirm-pwd-field, 
.region-field, 
.postal-field {
    margin-left: 1vh;
}

.name-fields-container, 
.email-phone-fields-container, 
.pwd-fields-container, 
.city-region-fields-container, 
.country-postal-fields-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

// BUTTONS /////////////////////////////////////////////////////////////////////////////
.btn-invite-container {
    align-items: top;
    display: inline-block;
    justify-content: space-between;

    p {
        flex-wrap: wrap;
        padding: 0 2vh 0 0;
    }
}

.clear-btn, .submit-btn  {
    border-radius: 10px;
    color: black;
    float: right;
    font-size: 2.5vh;
    padding: 1.5vh;
}

.clear-btn {
    background-color:  rgb(238, 61, 49);
    margin-left: 1vh;
}

.clear-btn:hover {
    background-color:  rgb(243, 107, 98);
}

.clear-btn:active {
    background-color:  rgb(165, 12, 1);
}

.submit-btn {
    background-color: lightskyblue;
}

.submit-btn:hover {
    background-color: rgb(199, 233, 255);
}

.submit-btn:active {
    background-color: rgb(58, 164, 235);
}

.switch-form-link {
    color: lightskyblue;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
}

// LOGOUT /////////////////////////////////////////////////////////////////////////////
.logout-container {
    font-size: 2vh;
    padding: 0 3vh;
}

.logout-link {
    color: rgba(0, 157, 255, 0.884);
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 599px) {
    .name-fields-container, 
    .email-phone-fields-container, 
    .pwd-fields-container, 
    .city-region-fields-container, 
    .country-postal-fields-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .first-name-field, 
    .last-name-field, 
    .email-reg-field, 
    .phone-field,
    .pwd-reg-field, 
    .confirm-pwd-field,
    .city-field, 
    .region-field, 
    .country-field, 
    .postal-field {
        margin: 0;
    }
}
