// MAIN /////////////////////////////////////////////////////////////////////////////
.content-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
}   

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;

    img {
        height: auto;
        max-height: 65vmax;
        object-fit: contain;
        width: 100%;
    }

    .square-format {
        max-height: 65vh;
        width: 100%;
        transform: scaleX(1.1), scaleY(1.1);
    }

    .tall-format {
        max-height: 65vh;
        width: auto;
        transform: none;
    }

    .wide-format {
        max-height: none;
        max-width: 65vh;
    }
}

.main-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5vh 1vh;
    width: 100%;
}

// FOOTER /////////////////////////////////////////////////////////////////////////////
.button-container > button {
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 2.5vh;
    padding: 1vh;
}

.clear-btn {
    background-color:  rgb(200, 40, 40);
    margin-left: 1vh;
}

.clear-btn:hover {
    background-color:  rgb(214, 100, 100);
}

.clear-btn:active {
    background-color:  rgba(253, 6, 6, 0.836);
}

.footer-actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}

.footer-cart {
    font-family: Centaur;
    font-size: 2.5vh;
    text-align: right;
}

.footer-cart i {
    font-size: 2.5vh;
    padding: 1vh;
}

.footer-cart .fa-cart-shopping {
    background-color: rgb(21, 190, 21);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: 1vh;
}

.footer-cart .fa-cart-shopping:hover {
    background-color: rgb(25, 172, 25);
}

.footer-cart .fa-cart-shopping:active {
    background-color: rgb(19, 131, 19);
}

.footer-cart .fa-x {
    background-color: rgb(172, 18, 18);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: 1vh;
}

.footer-container {
    background-color: rgb(217, 235, 198);
    border-radius: 0 0 25px 25px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh;
    height: 12vh;
}

.footer-price {
    display: flex;
    flex-direction: column;
    font-family: Centaur !important;
    font-size: 6vh;
    font-weight: bold;
    justify-content: center;
    width: 25%;
}

.submit-btn {
    background-color:  rgb(40, 140, 200);
}

.submit-btn:hover {
    background-color:  rgb(125, 186, 224);
}

.submit-btn:active {
    background-color:  rgba(3, 158, 255, 0.911);
}

// HEADER /////////////////////////////////////////////////////////////////////////////
.artist-row {
    padding-right: 3vh;
}

.artist-row, .title-row, .label-row {
    align-items: center;
    display: flex;
    min-height: 7vh;
    flex-direction: row;
}

.header-container {
    background-color: rgb(190, 227, 252);
    border-radius: 25px 25px 0 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    position: relative;
}

.header-update-cell i {
    cursor: pointer;
    font-size: 2vh;
    padding-right: 1vh;
}

.header-padding-cell {
    width: 2vh;
}

.header-artist {
    flex-grow: 1;

    h1 {
        font-family: Centaur !important;
        font-weight: bolder;
    }
}

.header-label {
    flex-grow: 1;
    font-size: 2.5vh;
    font-weight: bolder;
}

.header-title {
    flex-grow: 1;
    font-size: 2vh;
}

.header-artist h1 a, .header-label a, .x-cell i {
    cursor: pointer;

    &:hover {
        color: rgb(82, 99, 252) !important;
    }

    &:active {
        color: rgb(17, 17, 141) !important;
    }
}

.header-value-cell-updating > .artist-cell,
.header-value-cell-updating > .title-cell,
.header-value-cell-updating > .label-cell {
    height: 7vh;
    min-height: 7vh;
    width: 27.5vh;
}

.small-font { 
    font-size: 3.5vh !important;
}

.medium-font { 
    font-size: 3.75vh !important; 
}

.large-font { 
    font-size: 5vh !important;
}

.x-cell i {
    font-size: 2vh;
    min-height: 2.5vw;
    position: absolute;
    top: 2vh;
    right: 2vh;
}

// INFO /////////////////////////////////////////////////////////////////////////////
.details-row {
    height: auto;
}

.fa-pencil {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fa-pencil:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.fa-pencil:active {
    color: blue;
}

.info-container {
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-size: 2vh;
    padding: 4vh 2vh !important;
}

.format-row,
.speed-row,
.type-length-row,
.catalog-row,
.grade-row,
.price-row,
.quantity-row,
.country-row,
.year-row,
.package-row,
.genre-row {
    height: 8.5vh;
}

.format-row,
.speed-row,
.type-length-row,
.catalog-row,
.grade-row,
.price-row,
.quantity-row,
.country-row,
.year-row,
.package-row,
.genre-row,
.details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .inner-value-cell {
        padding-left: 1vh;
    
        .inner-label {
            font-style: italic;
        }
    
        .inner-value {
            font-style: normal;
        }
    }

    .label-cell {
        font-weight: bold;
        min-width: 10vh;
    }

    .padding-cell {
        min-width: 2vh;
    }

    .update-cell {
        min-width: 1.5vh;
        padding: 0 1vh;
    }

    .details-value-cell {
        flex: 0 0 75%;

        .details-list-container {
            padding: 0;
        }
    }

    .details-value-cell-updating {
        flex: 0 0 90%;

        .details-list-container {
            padding: 0;
        }
    }

    .value-cell {
        align-items: center;
        background: linear-gradient(to bottom, rgb(212, 238, 255) 5%, rgb(234, 245, 220));
        display: flex;
        flex: 1;
        margin: 0 0 2.1vh 0;
    }

    .value-cell-updating {
        background: none !important;
        margin: 0;
    }

    .value-cell-updating > .format-cell,
    .value-cell-updating > .subformat-cell,
    .value-cell-updating > .type-cell,
    .value-cell-updating > .length-cell,
    .value-cell-updating > .media-grade-cell,
    .value-cell-updating > .sleeve-grade-cell,
    .value-cell-updating > .genre-cell,
    .value-cell-updating > .subgenre-cell {
        width: 20.5vh;
    }

    .value-cell-updating > .speed-cell,
    .value-cell-updating > .catalog-cell,
    .value-cell-updating > .price-cell,
    .value-cell-updating > .quantity-cell,
    .value-cell-updating > .country-cell,
    .value-cell-updating > .year-cell,
    .value-cell-updating > .package-cell,
    .details-value-cell-updating > .details-cell {
        width: 100%;
    }

    .details-list-container {
        margin-left: 2vh;
    }

    .sub-details-list {
        margin-left: 2vh;
    }

    .subformat-cell,
    .length-cell,
    .sleeve-grade-cell, 
    .subgenre-cell {
        flex: 1;
    }
}

.update-value-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

// PREVIOUS-NEXT /////////////////////////////////////////////////////////////////////////
.previous-item, .next-item {
    display: flex;
    flex-direction: column;
    font-size: 7.5vh;

    i {
        position: sticky;
        top: 30vh;
        translate: translateY(-30vh);;
    }

    .fa-caret-left, .fa-caret-right {
        opacity: 1.0;
        transition: opacity 0.3s ease;
    }

    .fa-caret-left {
        padding-right: 0.5vh;
    }

    .fa-caret-right {
        padding-left: 0.5vh;
    }

    .fa-solid:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .update-cell {
        min-width: 1.5vw;
    }

    .value-cell-updating {
        width: 16vw;
    }
}

@media (max-width: 599px) {
// MAIN /////////////////////////////////////////////////////////////////////////////
    .image-container {
        display: flex;
        justify-content: center;
        align-items: middle;
    }
    
    .main-container {
        min-width: 100%;
    }

// FOOTER /////////////////////////////////////////////////////////////////////////////
    .button-container > button {
        font-size: 3.25vw;
        padding: 1.5vw;
    }

    .footer-cart .fa-cart-shopping {
        margin-left: 1.25vw;
    }
    
    .footer-cart i {
        font-size: 3.25vw;
        padding: 1.5vw;
    }
    
    .footer-container {
        height: 15.75vw;
        padding: 3.75vw;
    }

    .footer-price {
        font-size: 7.75vw;
    }
    
    .footer-cart {
        font-size: 3.25vw;
    }

// HEADER /////////////////////////////////////////////////////////////////////////////
    .header-container {
        padding: 2.5vw;
    }

    .header-label {
        font-size: 3.25vw;
    }

    .header-artist h1 a {
        font-size: 6.5vw !important;
    }
    
    .header-padding-cell {
        width: 2.5vw;
    }
    
    .header-title {
        font-size: 2.6vw;
    }

    .header-update-cell i {
        font-size: 2.75vw;
        padding-right: 1.35vw;
    }

    .header-value-cell-updating > .artist-cell,
    .header-value-cell-updating > .title-cell,
    .header-value-cell-updating > .label-cell {
        height: 9.75vw;
        width: 37.5vw;
    }

    .x-cell i {
        font-size: 2.75vw;
    }

// INFO /////////////////////////////////////////////////////////////////////////////
.details-row {
    margin-bottom: 5vw;
}

.info-container {
    font-size: 2.75vw;
    padding: 5vw 2.75vw 0 2.75vw !important;
}

.format-row,
.speed-row,
.type-length-row,
.catalog-row,
.grade-row,
.price-row,
.quantity-row,
.country-row,
.year-row,
.package-row,
.genre-row,
.details-row {
    display: flex;
    flex-direction: column;
    height: auto;

    .label-cell{
        height: 4.5vh;
    }

    .update-cell, .value-cell {
        height: 7vh;
        margin: 0;
    }

    .value-cell {
        margin-bottom: 1.5vh;
        width: 45vw;
    }

    .value-cell-updating {
        margin: 1.5vh 0 0 0;
    }

    .value-cell-updating > .format-cell,
    .value-cell-updating > .subformat-cell,
    .value-cell-updating > .type-cell,
    .value-cell-updating > .length-cell,
    .value-cell-updating > .media-grade-cell,
    .value-cell-updating > .sleeve-grade-cell,
    .value-cell-updating > .genre-cell,
    .value-cell-updating > .subgenre-cell,
    .value-cell-updating > .speed-cell,
    .value-cell-updating > .catalog-cell,
    .value-cell-updating > .price-cell,
    .value-cell-updating > .quantity-cell,
    .value-cell-updating > .country-cell,
    .value-cell-updating > .year-cell,
    .value-cell-updating > .package-cell,
    .details-value-cell-updating > .details-cell {
        width: 100%;
    }
}

// PREVIOUS-NEXT /////////////////////////////////////////////////////////////////////////////
    .previous-item, .next-item {
        font-size: 9.75vw;

        i {
            top: 39vw;
        }
    }
}
