@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@font-face {
  font-family: 'PatrenaRolane';
  src: url('../src/assets/fonts/PatrenaRolane.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; margin: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.border-dialog {
  background-color: transparent;
  border: 5px solid lightskyblue;
  border-radius: 50px;
  height: 90vh;
  overflow: hidden !important;
  width: 77.5vh;
}

h1 {
  color:  rgba(66, 73, 82, 0.788);
  font-family: PatrenaRolane !important;
  font-size: 5vh !important;
}

::placeholder {
  color: rgb(40, 140, 200);
  font-size: large;
}